<ul>
    {{#each itemController="product"}}
        <li>
            {{name}}
            {{#unless isBought}}
                <button {{action "bought"}}>bought</button>
            {{/unless}}
        </li>
    {{/each}}
</ul>
